<app-loading-spinner #loadingSpinner></app-loading-spinner>

<article [ngClass]="{'blurContent': loading.isSpinnerVisable}">
	<div class="pageTitle mat-elevation-z6">
		<button mat-button [routerLink]="['/cities']">{{ 'Cities' | t }}</button>
		>
		<button mat-button *ngIf="!isNew">{{ dataInfo?.city }}</button>
		<button mat-button *ngIf="isNew">{{ 'New City' | t }}</button>
		<span class="make-space"></span>
		<button mat-raised-button color="warn" (click)="delete()"> {{ 'Delete' | t }} </button>
	</div>

	<div class="panel-container mat-elevation-z8">
		<div class="form-container">
			<form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
				<mat-form-field>
					<mat-label>{{ 'Governorate' | t }} </mat-label>
					<mat-select formControlName="governorate" [value]="dataForm.controls['governorate'].value">
						<mat-option value="Erbil"> {{ 'Erbil' | t }} </mat-option>
						<mat-option value="Sulaimaniyah"> {{ 'Sulaimaniyah' | t }} </mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field>
					<input matInput placeholder="{{ 'City' | t }}" #city formControlName="city" type="text">
					<mat-icon matSuffix>location_city</mat-icon>
				</mat-form-field>
				<p class="error-message" *ngIf="error"> {{ error.error?.message }} </p>
				<button mat-raised-button type="submit" > {{ 'Submit' | t }} </button>
			</form>
		</div>
	</div>

</article>

