# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out



*.vim
vendor/*
.undodir
*.swp

uploads/images/avatars/*
!uploads/images/avatars/.gitkeep
log/dump.log
/log/dump.log

