[Desktop Entry]
Encoding=UTF-8
Name=Link to Generated Image
Type=Link
URL=https://cooltext.com/Render-Image?RenderID=322111208573470&LogoId=3221112085
Icon=text-html
